<div class='ingredient'>
  <div class='close'>X</div>
  <%= f.text_field :quantity, :class => 'quantity' %>
  <%= f.text_field :name, :class => 'ingredient' %>
  <% unless f.object.new_record? %>
    <%= f.hidden_field :_destroy, :class => 'remove' %>
  <% end %>
</div>
