<div class='search'>
  <%= form_tag search_recipes_path, :remote => true do %>
    <div><%= text_field_tag :q, params[:q], :autocomplete => 'off', :placeholder => 'Search' %></div>
  <% end %>
</div>

<div id='results' class='pagination-container'>
  <%= paginated_section @recipes do %>
    <%= render @recipes %>
  <% end %>
</div>