
<h1><%= @user ? @user.name + "'s" : 'Your' %> Recipes</h1>

<div class='search'>
  <%= form_tag search_recipes_path, :remote => true, :method => 'get' do %>
    <div>
      <%= text_field_tag :q, params[:q], :autocomplete => 'off',
            :placeholder => 'Search' %>
    </div>
  <% end %>
</div>

<div id='results' class='pagination-container'>
  <%= render :template => 'recipes/index.html' %>
</div>
