<% javascript 'box', 'rails', 'jquery/select_autocomplete', 'jquery/form' %>
<% css 'recipes/form' %>

<div id='buttons'>
  <%= link_to content_tag(:span, 'Add recipe'), 
        new_recipe_path(:format => 'js'), :remote => true, :class => 'add' %>
  <%= link_to content_tag(:span, 'Search'), 
        recipes_path(:format => 'js'), :remote => true, :class => 'search' %>
</div>

<div id='card'>
  <%= link_to 'go back', '#', :class => 'close' %>

  <div class='content'>
  </div>
</div>
