<%= render @recipes %>

<% if @user.nil? %>
  <div id='bottom-links'>
    <%= link_to 'New Recipe', new_recipe_path, :remote => true %>
  </div>
<% end %>

<%= will_paginate @recipes, :renderer => WillPaginate::AjaxLinkRenderer %>
