@import "compass/css3";

a {
  color: #966f32;
  
  &:hover {
    color: lighten(#966f32, 10%);
  }
}

/*@import "compass/css3/font-face";*/
/*@include font-face(ReenieBeanie, font-files('ReenieBeanie.ttf', ttf));*/
@font-face { 
  font-family: ReenieBeanie; 
  src: url(/fonts/ReenieBeanie.ttf); 
}

body {
  background: none;
}

html {
  @include linear-gradient(color-stops(darken(#b5cdcf, 10%), white));
  background-repeat: repeat-x;
}

$imgwidth: 392px;
$imgheight: 397px;
$width: 800px;

#container {
  padding: 0;
  border: none;
  background: none;
  position: relative;
  background-image: image-url('recipeboxfinal.png');
  background-size: $imgwidth $imgheight;
  background-repeat: no-repeat;
  min-height: $imgheight + 100px;
  background-position: 140px 96px;
  width: $width;
}

#buttons {
  position: absolute;
  left: 285px;
  top: 350px;

  height: 100px;
  width: 200px;
  
  z-index: 10;
  
  font-family: "ReenieBeanie";
  font-size: 23px;

  .add, .search {
    position: absolute;
    display: inline-block;
    text-decoration: none;

    span {
      background: white;
      display: inline-block;
    }
  }

  .add {
    left: 0;
    top: 0;

    background-image: image-url('tape1.png');
    width: 133px;
    height: 62px;
    
    span {
      padding: 3px 5px;
      margin: 20px;
      @include rotate(-2deg);
    }
  }
  
  .search {
    bottom: 0;
    right: 0;
    
    background-image: image-url('tape2.png');
    width: 125px;
    height: 48px;
    
    span {
      margin: 10px 12px;
      width: 92px;
      font-size: 120%;
      text-align: center;
      @include rotate(-1deg);
    }
  }
}

@mixin card-end {
  left: 50px;
  top: 50px;
  z-index: 11;
  opacity: 1;
  @include rotate(0);
}

@mixin card-start {
  left: 25px;
  top: 75px;
  opacity: 0;
  z-index: 0;

  @include transform(0.27, -4deg);
}

@mixin card-mid {
  left: 115px;
  top: -70px;
  z-index: 11;
  opacity: 1;
  @include transform(0.3, 15deg);
}

@-webkit-keyframes card1 {
  0% {
    @include card-start;
  }

  40% {
    @include card-mid;
  }

  100% {
    @include card-end;
  }
}

@-webkit-keyframes card2 {
  0% {
    @include card-end;
  }

  50% {
    @include card-mid;
  }

  100% {
    @include card-start;
  }
}

#card {
  position: absolute;
  background: white;
  border: 4px solid #e8c881;
  display: none;
  width: 700px;
  height: 535px;

  overflow: hidden;

  & > .close {
    display: block;
    float: right;
    background-image: image-url('close_button.gif');
    height: 30px;
    width: 30px;
    text-indent: -9999px;
  }

  &.start {
    display: block;
    @include card-end;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: card1;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
  }

  &.end {
    display: block;
    @include card-start;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: card2;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
  }
  
  .content {
    padding: 20px;
  }

  .search #q {
    display: block;
    font-size: 2em;
    width: 80%;
    margin: 0 auto;
    clear: both;
  }
  
  #results {
    .recipe {
      font-size: 1.6em;
    }
  }
}

#bottom-links {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

h2 a {
  text-decoration: none;
}