@font-face { 
  font-family: ReenieBeanie; 
  src: url(/fonts/ReenieBeanie.ttf); 
}

body {
  background: none;
}

html {
  background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(darken(#b5cdcf, 10%)), to(white));
  background-repeat: repeat-x;
}

$imgwidth: 392px;
$imgheight: 397px;
$width: 800px;

#container {
  padding: 0;
  border: none;
  background: none;
  position: relative;
  background-image: url(/images/recipeboxfinal.png);
  background-size: $imgwidth $imgheight;
  background-repeat: no-repeat;
  min-height: $imgheight + 100px;
  background-position: 140px 96px;
  width: $width;
}

#buttons {
  position: absolute;
  left: 285px;
  top: 350px;

  height: 100px;
  width: 200px;
  
  z-index: 10;
  
  font-family: ReenieBeanie;
  font-size: 23px;
  font-weight: bold;

  .add, .search {
    position: absolute;
    display: inline-block;
    text-decoration: none;

    span {
      background: white;
      display: inline-block;
    }
  }

  .add {
    left: 0;
    top: 0;

    background-image: url(/images/tape1.png);
    width: 133px;
    height: 62px;
    
    span {
      padding: 3px 5px;
      margin: 20px;
      -webkit-transform: rotate(-2deg);
    }
  }
  
  .search {
    bottom: 0;
    right: 0;
    
    background-image: url(/images/tape2.png);
    width: 125px;
    height: 48px;
    
    span {
/*      padding: 3px;*/
      margin: 10px 12px;
      width: 92px;
      font-size: 120%;
      text-align: center;
      -webkit-transform: rotate(-1deg);
    }
  }
}

@mixin card-end {
  width: 700px;
  height: 535px;
  left: 50px;
  top: 50px;
  z-index: 11;
  opacity: 1;
  -webkit-transform: rotate(0);
}

@mixin card-start {
  left: 285px;
  top: 275px;
  height: 150px;
  width: 180px;
  opacity: 0;
  z-index: 0;
  -webkit-transform: rotate(-4deg);
}

@mixin card-mid {
  left: 285px;
  top: 80px;
  height: 150px;
  width: 200px;
  z-index: 11;
  opacity: 1;
  -webkit-transform: rotate(15deg);
}

@-webkit-keyframes card1 {
  0% {
    @include card-start;
  }

  33% {
    @include card-mid;
  }

  100% {
    @include card-end;
  }
}

@-webkit-keyframes card2 {
  0% {
    @include card-end;
  }

  66% {
    @include card-mid;
  }

  100% {
    @include card-start;
  }
}

#card {
  position: absolute;
  background: white;
  border: 4px solid #e8c881;
  display: none;
  overflow: hidden;

  & > .close {
    display: block;
    float: right;
    background-image: url(/images/close_button.gif);
    height: 30px;
    width: 30px;
    text-indent: -9999px;
  }

  &.start {
    display: block;
    @include card-end;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-name: card1;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
  }

  &.end {
    display: block;
    @include card-start;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-name: card2;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
  }
  
  .content {
    padding: 20px;
  }

  .search #q {
    display: block;
    font-size: 2em;
    width: 80%;
    margin: 0 auto;
    clear: both;
  }
  
  #results {
    .recipe {
      font-size: 1.6em;
    }
  }
}
