.new-category {
  display: none;
}

#recipe {
  dt {
    width: 50px;
  }
  
  dd {
    margin-left: 80px;
  }
}

.col1 {
  float: left;
  width: 45%;
  
  input[type=text] {
    width: 215px;
  }
  
  textarea {
    height: 260px;
    width: 295px;
  }
}

.col2 {
  float: right;
  width: 50%;
  
  h4 {
    margin: 0 0 12px 0;
  }
  
  div:even {
    text-align: right
  }

  div.ingredient {
    padding-left: 30px;
    position: relative;
    overflow: auto;

    input[type=text] {
      width: 120px;
      margin-left: 10px;
      float: left;
    }
    
    .close {
      display: none;
      float: left;
      position: absolute;
      left: 14px;
      top: 4px;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
    }
    
    &:hover {
      background: #f8f4df;
      
      .close {
        display: block;
      }
    }
  }
}

.actions {
  clear: both;
}

#errorExplanation {
  float: right;
}