//= require box
//= require recipes/form
//= require pagination
//= require jquery/autocomplete

@import "errors";

body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

dl {
  margin: 5px 0;

  dt {
    width: 12em;
    float: left;
    clear: left;
    text-align: right;
    color: #333;

    .field_with_errors {
      margin: 0;
      padding: 0;
    }
  }

  dd {
    margin-left: 12.5em;

    .field_with_errors {
      margin: 0;
      padding: 0;
    }
  }
}

@media print {
  body {
    background-color: #FFF;
  }

  a img {
    border: none;
  }

  #container {
    background-color: #FFF;
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }

  #bottom-links, #buttons, h2.recipe a, #card > a.close {
    display: none;
  }

  #card { border: none }
}
