.pagination {
  background: #f8f4df;
  border: 1px solid #e8c881;
  text-align: center;
  padding: 1em; 

  a, span {
    padding: .2em .3em; 
  }

  span.disabled {
    color: #AAA; 
  }

  em {
    font-style: normal;
    font-weight: bold;
    background: transparent url(/images/apple-circle.gif) no-repeat 50% 50%; 
  }

  a {
    text-decoration: none;
    color: black; 

    &:hover, &:focus {
      text-decoration: underline; 
    }
  }
}

#results .pagination {
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 100%;
}